*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: black;
}
header{
    width: 100%;
    position: fixed;
    z-index: 500;
    height: 50px;
}
.container_header{
    position: relative;
}
#buttons_nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    /* DEBUG */
    /* background-color: red; */
    /* height: 30px; */
}
i{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
li{
    list-style: none;
}
.fa-solid.fa-grip{
    font-size: 15px;
    font-weight: 700;
}
.fa-maximize{
    font-size: 15px;
}
.button{
    
    margin-top: 2px;
    display: inline-block;
    background-color: #4a4a4a;
    padding: 4px 5px 4px 6px;
    border-radius: 5px;
    color: white;
}
main{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    /* flex-wrap: wrap; */
}
.container_items{
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.photo{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 250px;
    height: 150px;
    margin: 10px;
    background-image: url(../img/658-536x354.jpg);
    background-size: cover;
    background-position: center;
}
.photo_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}
.photo_footer i
,span{
    font-size: 15px;
}
footer{
    width: 100vw;
    padding: 20px 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    flex-wrap: nowrap;
}
.text_elements{
    padding-top: 5px;
}
.mic_video{
    flex-basis: 15%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.container_mute{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.element_col{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-misc{
    /* flex-grow: 1; */
    flex-basis: 50%;
}
.footer-misc ul{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 5px; */
}
.fa-share-from-square{
    color: #4bc800;
}
.fa-microsoft{
    border-radius: 15px;
}

#end_meeting{
    flex-basis: 25%;
    background-color: #5e6870;
    background-size: 100%;
}
.footer_font_icons{
    font-size: 30px;
}

